.chats .chats__list {
  margin: 30px 10px;
  padding: 10px 10px;
}

.chats__list .chats__chat .friend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.chats__list .chats__chat .friend__content {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.friend__column .chat__timestamp {
  font-size: 10px;
  opacity: 0.7;
}

.friend__content .friend__Bottom-text {
  font-size: 12px;
  opacity: 0.7;
  margin-top: 10px;
}

.friend__content .friend__count {
  margin-left: 5px;
  opacity: 0.6;
  font-weight: 300;
}

.chats .group-double,
.chats .group-triple,
.chats .group-quadruple {
  position: relative;
  width: 55px;
}
.chats .group-double img {
  position: absolute;
  width: 33px;
  height: 33px;
  border-radius: 14px;
  border: 2px solid #ffffff;
}
.chats .group-double img:nth-child(1) {
  top: -25px;
}
.chats .group-double img:nth-child(2) {
  top: -10px;
  left: 11px;
}
.chats .group-triple img {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 13px;
  border: 2px solid #ffffff;
}
.chats .group-triple img:nth-child(1) {
  top: -3px;
}
.chats .group-triple img:nth-child(2) {
  top: -3px;
  left: 18px;
}
.chats .group-triple img:nth-child(3) {
  top: -21px;
  left: 9px;
}
.chats .group-quadruple img {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 10px;
  border: 2px solid #ffffff;
}
.chats .group-quadruple img:nth-child(1) {
  top: -25px;
}
.chats .group-quadruple img:nth-child(2) {
  top: -25px;
  left: 22px;
}
.chats .group-quadruple img:nth-child(3) {
  top: -3px;
}
.chats .group-quadruple img:nth-child(4) {
  top: -3px;
  left: 22px;
}

.chat-status {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
}
.chat__badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  font-size: 10px;
  width: 14px;
  height: 14px;
  color: white;
  background-color: #e65f3f;
  border-radius: 50%;
  margin-top: 5px;
}
