.chat-body .chat-screen {
  background-image: url("../images/background.png");
  width: 100%;
  min-height: 100vh;
}

.chat-arrow {
  margin: 0px -20px 0px 20px;
}

.chat-body .chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-body .chat__timestamp {
  background-color: white;
  border-radius: 10px;
  font-size: 8px;
  margin: 15px 0px 20px 0px;
  padding: 5px 10px;
  opacity: 0.8;
  box-shadow: 0 10px 30px -12px rgba(38, 38, 65, 0.459),
    0 4px 10px -3px rgba(0, 0, 0, 0.493), 0 3px 8px -50px rgba(0, 0, 0, 0.418);
  text-transform: uppercase;
}

.chat-body .chat__messages .incoming-message,
.chat-body .chat__messages .sent-message {
  margin: 5px 15px;
  display: flex;
  flex-direction: row;
}

.chat-body .chat__messages .incoming-message {
  align-self: flex-start;
  align-items: flex-start;
}

.chat-body .chat__messages .sent-message {
  align-self: flex-end;
}

.chat-body .chat__messages .incoming-message .message__author {
  font-size: 14px;
  font-weight: 500;
}

.chat-body .chat__messages .incoming-message .message__timestamp,
.chat-body .chat__messages .sent-message .message__timestamp {
  display: flex;
  align-self: flex-end;
  font-size: 10px;
  opacity: 0.7;
}

.chat-body .chat__messages .incoming-message .message__timestamp {
  margin-left: 5px;
}

.chat-body .chat__messages .sent-message .message__timestamp {
  margin-right: 5px;
}

.chat-body .chat__messages .incoming-message .message__bubble,
.chat-body .chat__messages .sent-message .message__bubble {
  font-size: 12px;
  line-height: 1.2;
  padding: 8px 15px;
  margin-top: 3px;
  background-color: white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  color: white;
  box-shadow: 0 10px 30px -12px rgba(38, 38, 65, 0.212),
    0 4px 10px -3px rgba(0, 0, 0, 0.233), 0 3px 8px -50px rgba(0, 0, 0, 0.102);
}

.chat-body .chat__messages .incoming-message .message__bubble {
  border-top-right-radius: 15px;
  background-image: linear-gradient(to top, #1d2b64, #f8cdda);
}

.chat-body .chat__messages .sent-message .message__bubble {
  border-top-left-radius: 15px;
  background-image: linear-gradient(to bottom, #4a569d, #dc2424);
}

.chat__write-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@keyframes float {
  0% {
    transform: translateY(-50px);
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 12px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    transform: translateY(-55px);
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    transform: translateY(-50px);
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 12px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}

.chat__write {
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  border-radius: 0px;
  padding: 20px 60px;
  font-size: 14px;
  border: none;
  transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-50px);
  border-radius: 25px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);

  animation: float 1.5s linear infinite forwards;
}
.chat_icon {
  font-size: 14px;
  transition: opacity 0.3s ease-in-out;
}

.chat__write:focus ~ .chat_icon {
  opacity: 0;
}

.chat__icon-left {
  position: absolute;
  padding-left: 20px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
  padding-right: 20px;
}

.chat__icon-right i {
  margin-left: 5px;
}

@keyframes spinAnimation {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

@keyframes incomingAnimation {
  from {
    opacity: 0;
    transform: translateX(-250px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes sentAnimation {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.incoming-message img {
  animation: spinAnimation 2s infinite linear forwards;
}

.chat__messages > .message:nth-child(5) {
  /*incoming-message*/
  transform: translateX(-250px);
  animation: incomingAnimation 0.5s ease-out forwards;
  animation-delay: 1s;
}

.chat__messages > .message:nth-child(6) {
  /*sent-message*/
  transform: translateX(200px);
  animation: sentAnimation 0.5s ease-out forwards;
  animation-delay: 3s;
}

.chat__messages > .message:nth-child(7) {
  transform: translateX(-250px);
  animation: incomingAnimation 0.5s ease-out forwards;
  animation-delay: 5s;
}

.chat__messages > .message:nth-child(8) {
  transform: translateX(200px);
  animation: sentAnimation 0.5s ease-out forwards;
  animation-delay: 7s;
}
