.friends__list {
  width: 100%;
}

.friends__list .friend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.friends__plus .friend {
  padding: 10px 20px;
}

.friend .friend__column {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.friend__avatar {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  margin-right: 10px;
  border: 1px solid rgb(224, 240, 252);
}
.g-avatar {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}
.m-avatar {
  width: 45px;
  height: 45px;
  border-radius: 20px;
  margin-right: 10px;
}

.friend__content .friend__name {
  font-size: 14px;
  opacity: 0.8;
  font-weight: 700;
}

.friend__content .friend__status {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  opacity: 0.5;
}

.friend__title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 15px;
  padding: 10px 10px;
  background-color: white;
  border-top: 1px solid #fbfbfb;
  color: #888888;
  font-size: 14px;
}

.accordion {
  cursor: pointer;
}

.friend__now-listening {
  padding: 3px 7px;
  border: 1px solid #23b955;
  font-size: 12px;
  border-radius: 12px;
}

.friend__now-listening > span {
  opacity: 0.7;
}

.friend__now-listening i {
  color: #23b955;
  margin-left: 5px;
}

.friends__list-box {
  width: 100%;
  height: 360px;
  position: relative;
  overflow: hidden;
}

.friends__list-box .friends__caption {
  position: absolute;
  width: 100%;
  height: 360px;
  top: 35px;
  left: 0;
  bottom: auto;
  opacity: 1;
  transform: translateY(0px);
  transition: transform 0.5s, opacity 0.1s 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

.friends__list-box:hover .friends__caption {
  opacity: 0;
  transform: translateY(-150px);
  transition: transform 0.5s, opacity 0.1s;
}
