.header {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 25px;
  left: 0;
  padding: 15px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 30;
}

.header h1 {
  display: inline;
}

.header .header__title {
  font-size: 20px;
  font-weight: 700;
  margin-left: 30px;
}
.header .header__icon {
  margin-right: 15px;
  opacity: 0.8;
  cursor: pointer;
}

body:hover .header {
  animation: headerShadow 3s ease-in-out infinite;
}

@keyframes headerShadow {
  from {
    box-shadow: -2px 8px 6px -10px rgb(222, 222, 224);
  }
  to {
    box-shadow: -2px 8px 6px -6px rgb(171, 171, 173);
  }
}
