main {
  margin-top: 75px;
  margin-bottom: 70px;
  z-index: 10;
}

.settings {
  margin-bottom: 20px;
}

.chat,
.chat-screen {
  margin-bottom: 0px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.chats,
.find,
.friends,
.more,
.settings {
  animation: fadeIn 0.4s ease-in-out;
}

.chat-screen {
  padding-bottom: 120px;
}
