.more-header .friend {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.friend__column .more-my,
.friend__column .more-imti {
  font-size: 14px;
  padding: 7px 12px;
  border: 1px solid #f0f0f0;
  border-radius: 15px;
  margin-right: 3px;
  cursor: pointer;
}

.friend__column .more-imti {
  color: #09b062;
  position: relative;
}

.friend__column .more-badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 15px;
  color: white;
  background-color: #e65f3f;
  font-size: 5px;
  border-radius: 50%;
  top: -5px;
  left: 23px;
  margin: 0 auto;
}

.pay {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3px 20px;
  padding: 8px 7px 8px 15px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.pay .pay-column,
.suggestions__btn-icon,
.suggestion__icon {
  cursor: pointer;
}

.pay .pay-column:nth-child(1) {
  padding: 8px 12px;
  background-color: #ffffff;
  border-radius: 15px;
}
.pay .pay-text {
  font-weight: 600;
}
.pay-column span {
  margin-right: 10px;
  opacity: 0.8;
}

.suggestions {
  margin: 20px 25px;
  border-bottom: 1px solid #fbfbfb;
}

.suggestions .suggestions__btn-list {
  display: flex;
  flex-flow: row wrap;
}

.suggestions__btn-list .suggestions__btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80px;
  height: 80px;
  padding: 10px 60px;
}

.suggestions__btn-icon .fa-cat {
  color: #f5af50;
}

.suggestions__btn-icon .fa-ticket-alt {
  color: #69e068;
}

.suggestions__btn-icon .fa-gamepad {
  color: #f7d347;
}

.suggestions__btn-icon .fa-sticky-note {
  color: #ffd200;
}

.suggestions__btn-icon .fa-lemon {
  color: #69e068;
}

.suggestions__btn-list .suggestions__btn-title,
.more__suggestions-list .suggestion__title {
  margin-top: 3px;
  font-size: 10px;
}

.more__suggestions .more__title {
  margin: 0px 20px 10px 20px;
  font-weight: 700;
}

.more__suggestions-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 30px 20px 10px 50px;
}

.more__suggestions-list .more__suggestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 45px;
}

.more__suggestion .suggestion__icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #f7d347;
  border-radius: 15px;
  margin-bottom: 10px;
  color: white;
}
