.nav {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0px;
  background-color: #f9f9f9;
  border-top: 1px solid #ebebeb;
  z-index: 50;
}

.nav .nav__list {
  display: flex;
  margin: 7px 0px;
  padding: 10px 20px 15px 20px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav .nav__list i {
  font-size: 18px;
  color: #2f363e;
}

.nav .nav__list-link {
  position: relative;
  cursor: pointer;
}

.nav .nav__badge {
  position: absolute;
  top: -4px;
  left: 10px;
  margin: 0 auto;
  width: 16px;
  height: 14px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6px;
  color: white;
  background-color: #e65f3f;
  border-radius: 50%;
}

@keyframes showNavBar {
  from {
    transform: translateY(60px);
  }
  to {
    transform: none;
  }
}

.nav {
  transform: translateY(60px);
  animation: showNavBar 0.5s ease-out forwards;
  animation-delay: 0.3s;
}
