@import url("https://fonts.googleapis.com/css?family=Heebo:400,700&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "more.css";
@import "friend.css";
@import "main.css";
@import "settings.css";
@import "find.css";

body {
  width: 100%;
  background-color: white;
  color: #020202;
  font-family: "Heebo", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
